body{
    background-color: rgb(11,3,3);
}
.border1{
    height: 200px;
    width: 200px;
    background-color: darkgoldenrod;
    border-left: 10px solid red;
    border-right: 12px solid green;


}
.border3{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: 12px groove darkblue;
    border-bottom: none;
}  